<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/instant-article">instant-article</a></li>
        <li><a href="/email">email</a></li>
        <li><a href="/edgemail-mktg">edgemail-mktg</a></li>
        <li><a href="/mirror">mirror</a></li> 
    </ul>
</nav>